<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <!-- Debugger output target (Visual Studio Output window) -->
    <target xsi:type="Debugger"
            name="debugger"
            layout="${longdate} [${level:uppercase=true}] ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- All loggers (NLog.ILogger and Microsoft.Extensions.Logging.ILogger<T>) -->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
